In [1]:
l = [1, 2, 3, 10]
val = 10
idx = 0
while idx < len(l):
    if l[idx] == val:
        break
    idx += 1
    print(idx)
else:
    print('else')
    l.append(val)

print(l)

1
2
3
[1, 2, 3, 10]

In [ ]:
%%sql

In [4]:
a = 10
b = 0
try:
    a /b 
except ZeroDivisionError:
    print('division by 0')
finally:
    print('this always executes')

division by 0
this always executes