In [1]:
import pandas as pd
pd.__version__

'2.2.2'

In [4]:
s = pd.Series(data=[3, 2, 4, 5], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3
b    2
c    4
d    5
Name: sample, dtype: int64

In [2]:
import numpy as np
s = pd.Series(data=[3, np.nan, 4, 5], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    5.0
Name: sample, dtype: float64

In [6]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int32

In [7]:
s = pd.Series(data=['python', 'java', 'sql'], name='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [8]:
type(s)

pandas.core.series.Series

In [9]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [11]:
s.dtypes

dtype('O')

In [12]:
s.shape

(3,)

In [24]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900, 'KGHM': np.nan})
price.count()

3

In [18]:
price.value_counts()

200     1
60      1
1900    1
Name: count, dtype: int64

In [19]:
price.sum()

2160

In [20]:
price.min()

60

In [21]:
price.max()

1900

In [22]:
price.std()

1024.3046421841502

In [23]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [25]:
price.value_counts(dropna=False)

200.0     1
60.0      1
1900.0    1
NaN       1
Name: count, dtype: int64

In [27]:
price.nlargest(1)

Amazon    1900.0
dtype: float64

In [28]:
price.nsmallest(1)

CD Projekt    60.0
dtype: float64

In [29]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [30]:
price.apply(lambda x: x * 3.0)

Apple          600.0
CD Projekt     180.0
Amazon        5700.0
KGHM             NaN
dtype: float64

In [5]:
df = pd.DataFrame(data=[1, 12, 32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first       1
second     12
third      32

In [6]:
df = pd.DataFrame(data={'WIG20':['PKN ORLEN', 'PKO BP'], 'mWIG40':['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [7]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [8]:
df.columns

Index(['WIG20', 'mWIG40'], dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WIG20   2 non-null      object
 1   mWIG40  2 non-null      object
dtypes: object(2)
memory usage: 164.0+ bytes

In [10]:
df.describe()

            WIG20 mWIG40
count           2      2
unique          2      2
top     PKN ORLEN  Amica
freq            1      1

In [11]:
df.describe().T

       count unique        top freq
WIG20      2      2  PKN ORLEN    1
mWIG40     2      2      Amica    1

In [12]:
df['WIG20']

0    PKN ORLEN
1       PKO BP
Name: WIG20, dtype: object